.vs/
.env

# Microservicio de usuarios
UsuariosService/bin/
UsuariosService/obj/
UsuariosService/bin/*
UsuariosService/obj/*

# Microservicio de productos
ProductoService/bin/
ProductoService/obj/
ProductoService/bin/*
ProductoService/obj/*
