.vs/
bin/
obj/
*.env
*.tmp

# Microservicio de usuarios
UsuariosService/bin/
UsuariosService/obj/
UsuariosService/bin/*
UsuariosService/obj/*

# Microservicio de productos
ProductoService/bin/
ProductoService/obj/
ProductoService/bin/*
ProductoService/obj/*

# Microservicio de carrito
CarritoService/bin/
CarritoService/obj/
CarritoService/bin/*
CarritoService/obj/*

# Microservicio de pago
PagoService/bin/
PagoService/obj/
PagoService/bin/*
PagoService/obj/*




